<div class="container fixed bottom-0 mx-auto my-0 py-2 bg-amber-100 opacity-75 flex justify-between items-center space-x-12 px-8 sm:hidden">

    <%= link_to root_path do %>
      <i class="fa-solid fa-house text-3xl"></i>
    <% end %>
    <%= link_to services_search_path do %>
      <i class="fa-solid fa-magnifying-glass text-3xl"></i>
    <% end %>
    <%= link_to services_analysis_results_path do %>
      <i class="fa-solid fa-chart-bar text-3xl"></i>
    <% end %>
    <%= link_to services_previous_data_path do %>
      <i class="fa-solid fa-clock-rotate-left text-3xl"></i>
    <% end %>
</div>