<%= form_with(model: @loto7s, url: services_show_path, method: :get, data: { controller: "service-form" }) do |f| %>
  <div class="grid grid-cols-4 gap-4">
    <% (1..37).each do | number | %>
      <label class="flex items-conter space-x-2">
        <%= check_box_tag "numbers[]", number, false, data: { service_form_target: "checkboxes" } %>
        <%= number %>
      </label>
    <% end %>
  </div>

  <div>
    <button class="bg-blue-600 hover:bg-blue-500 text-white rounded px-4 py-2">
      <%= f.submit "決定", disabled: true, data: { service_form_target: "submitButton" } %>
    </button>
  </div>
<% end %>  



