<div class="text-lg lg:text-xl mx-auto hidden md:flex justify-center items-center py-2 md:px-14 lg:px-14 w-full space-x-16 lg:space-x-24 bg-slate-200 z-40">
  <%= link_to "ホーム", root_path, class: "hover:text-green-400 transition-all duration-300" %>
  <%= link_to "検索", services_search_path, class: "hover:text-green-400 transition-all duration-300" %>
  <%= link_to "過去データ", services_analysis_results_path, class: "hover:text-green-400 transition-all duration-300" %>
  <%= link_to "過去履歴", services_previous_data_path, class: "hover:text-green-400 transition-all duration-300" %>
</div>