<%= render 'navigation' %>

<div class="container mt-16 mx-auto px-8 md:px-14 lg:px-32 w-full min-h-screen">
  <div class="flex justify-center">
    <h1 class="font-bold text-3xl">過去データ</h1>
  </div>

  <div data-controller="google-chart" data-google-chart-analyses="<%= @data_hash.to_json %>" style="height: 1200px" class="-z-50 .bar_chart_base md:bar_chart_md lg:bar_chart_lg xl:bar_chart_xl"> 
  </div>

</div>

<%= render 'footer' %>