<div class="text-lg lg:text-xl mx-auto hidden md:flex justify-center items-center py-2 md:px-14 lg:px-14 w-full space-x-16 lg:space-x-24 bg-slate-200 z-40">
  <%= link_to "Loto7", loto7s_path, class: "hover:text-green-400 transition-all duration-300" %>
  <%= link_to "アナリス", analyses_path, class: "hover:text-green-400 transition-all duration-300" %>
  <%= link_to "情報作成", generate_data_analyses_path, class: "hover:text-green-400 transition-all duration-300" %>
  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-blue btn-blue:hover" %>
</div>