<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render 'admin_navi' %>

  <div class="container flex justify-between items-center space-x-12 m-auto">
    <h1 class="text-center font-bold text-4xl">Loto7s</h1> 
    <%= link_to 'New loto7', new_loto7_path, class: "btn btn-blue btn-blue:hover" %>
  </div>
  
  <div id="loto7s" class=" container mx-auto text-center mt-10">
    <%= render @loto7s %>
  </div>
</div>
