@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

/* search number design */
.number_style {
  width: 30px;
  height: 30px;
  padding-top: 3px;
  background-color: #f5e907;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  color: #1d0966;
}


.td_w {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.th_w_7 {
  width: 350px;
  height: 50px;
}

.th_w_2 {
  width: 100px;
  height: 50px;
}

.table_rows_th_style {
  border: 1px solid #4b4b4b;
  text-align: center;
  width: 100px;
}

.table_rows_td_style {
  border: 1px solid #4b4b4b;
  text-align: right;
  width: 350px;
}

.td_w_pd {
  width: 23px;
  height: 23spx;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #4b4b4b;
}

.td_w_pd_md {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #4b4b4b;
}

.td_announce_w {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #4b4b4b;
}


.td_w_pd_get {
  text-align: right;
  vertical-align: middle;
  border: 1px solid #4b4b4b;
}


.th_pd_border {
  border: 1px solid #4b4b4b;
}

/* analysis_result 関連 */

.bar_chart_base {
  width: 320px;
}

.bar_chart_md {
  width: 600px;
}

.bar_chart_lg {
  width: 800px;
}

.bar_chart_xl {
  width: 1000px;
}
