<ul>
  <li><%= link_to "ホーム", root_path %></li>
  <li><%= link_to "検索", services_search_path %></li>
  <li><%= link_to "データ", services_analysis_results_path %></li>
  <li><%= link_to "過去履歴", services_previous_data_path %></li>
</ul>