<div class="container mx-auto flex items-center space-x-12 px-8">

    <%= link_to "ホーム", root_path, class: "" %>
    <%= link_to "検索", services_search_path %>
    <%= link_to "データ", services_analysis_results_path %>
    <%= link_to "過去履歴", services_previous_data_path %>
</div>